<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
     <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style-login.css">
    <script defer src="/assets/vendors/axios/axios.min.js"></script>
    <script src="/assets/js/pages/httpService.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
</head>

<body>
    <div class="container" id="container" style="display: flex; justify-content: center;">
        <div class="form-container sign-in-container" style="position: unset;">
            <form action="#">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>or use your account</span>
                <input type="text" placeholder="Username" id="username" />
                <input type="password" placeholder="Password" id="password" />
                <a href="#">Forgot your password?</a>
                <button type="button" id="sign-in">Sign In</button>
            </form>
        </div>
    </div>

    {{!-- <footer>
        <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="#">SN</a>.
        </p>
    </footer> --}}

    
    <script defer src="/assets/js/pages/stuff.js"></script>
    <script defer src="/assets/js/pages/login.js"></script>
    
</body>

</html>