<footer>
    <div class="box-footer introduce">
        <div class="title">Giới thiệu</div>
        <div class="detail">
            Truyen là website đọc truyện convert online cập nhật liên tục và nhanh nhất các truyện tiên hiệp, kiếm
            hiệp, huyền ảo được các thành viên liên tục đóng góp rất nhiều truyện hay và nổi bật
        </div>
    </div>
    <div class="box-footer socials">
        <div class="title">Liên hệ chúng tôi</div>
        <div class="social-links">
            <ul class="items-social">
                <li class="item-social">
                    <a href="">
                        <i class="mdi mdi-facebook-box"></i>
                        https://facebook.com/truyencuaban
                    </a>
                </li>
                <li class="item-social">
                    <a href="">
                        <i class="mdi mdi-gmail"></i>
                        truyencuaban@gmail.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>Copyright &copy; 2020 SN. All Right Reverse</p>
</div>