<header class="page-hd">
    <div class="container header-ur">
        <div class="hd-box">
            <div class="hd-menu-left">
                <ul class="hd-nav-menu">
                    <li><a href="/">
                            <img height="100" width="100" src="{{infoWeb.logo}}" alt="">
                        </a></li>
                    <li><a href="#about">Danh mục</a></li>
                    <li><a href="#home">Thể loại</a></li>
                </ul>
            </div>
        </div>
        <div class="hd-box">
            <div class="hd-menu-right">
                <ul class="hd-nav-menu">
                    <li>
                        <div>
                            <input type="text" placeholder="Tên truyện hoặc thể loại">
                        </div>
                    </li>
                    <li>
                        <span>
                            <i class="mdi mdi-account-circle mdi-icon-user"></i>
                        </span>
                    </li>
                    <li><a href="javascript:;" id="link-sign-in">Đăng nhập</a></li>
                    <li><a href="javascript:;" id="link-sign-up">Đăng ký</a></li>
                </ul>
            </div>
        </div>
    </div>

</header>

{{!-- {{> user/signInMember/index}} --}}