<div class="content">
    <div class="wrapper-slider">
        <h3 class="wrapper-items-slider-title">Sách hot</h3>
        <div class="wrapper-items-slider">
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
            <div class="wrapper-item-slider">
                <img src="https://truyencv.com/images/poster/do-de-cua-ta-deu-la-trum-phan-dien-poster-1578750543-200x300.jpg"
                    alt="">
                <div class="wrapper-item-detail">
                    <h3 class="wrapper-item-title">Đạo giới thiên hà</h3>
                    <p class="wrapper-item-description">
                        Thần bí trong thôn lạc đi ra thiếu niên thần bí, đạo tâm không có, đạo linh không thấu, đạo thể
                        không thông, lại một
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="story-section">
        <div class="wrapper-book-items">
            <div class="book-items-title">
                <h3>Sách đang đọc</h3>
            </div>
            <div class="book-items book-reading-list">
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ gsgsdg gsgsg gsgsg gsgsg gsgsdg</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ sdgs gsgsd gsgsg</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-book-items">
            <div class="book-items-title">
                <h3>Sách mới cập nhật</h3>
            </div>
            <div class="book-items book-new-updated">
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-book-items">
            <div class="book-items-title">
                <h3>Sách đọc nhiều</h3>
            </div>
            <div class="book-items book-reads">
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>

                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
                <div class="book-item">
                    <div class="book-item-detail">
                        <img src="https://truyencv.com/images/poster/cuc-vo-poster-1541267221-200x300.jpg" alt="">
                        <div class="detail">
                            <h3 class="book-item-title">Cực võ</h3>
                            <p class="book-item-chapter-crt">Chương 1</p>
                        </div>
                    </div>
                    <div class="book-item-action">
                        <a href="#">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>